<!DOCTYPE html>
<html>

<head>
  <!-- Add your head content here -->
</head>

<body>
  <header class="masthead">
    <div class="container">
      <div class="row">
        <div class="position-point">
          <h1 class="text">Nice to meet you</h1>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <section class="team-boxed">
      <div class="container">
        <div class="intro">
          <h2 class="text-center">About Us</h2>
          <p class="text-center">Visitors can click through different stories about the brand’s sponsorships, like providing gear for Heroes and Horses.</p>
          <p class="text-center">It also showcases stories about inspiring people from the outdoors scene, such as the story behind Mark Engler, a legendary fishing guide in the Colorado/New Mexico area.</p>
          <p class="text-center">SS tells its story. It also features key highlights about the brand that keeps visitors inspired and creates a good user experience.</p>
          <p class="text-center">These summaries help showcase SS unique qualities and earn trust with potential customers. </p>
        </div>

        <div class="row people">
          <div class="col-md-4">
            <div class="box text-center">
              <!-- Image -->
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnM0_-e8cvsICiqsrFkEVoY24yHYD9AN-AGqK-Tz9uVj_Ef6kZOZ0M-Lrg0VPJ-7giV0I&usqp=CAU" alt="Ben Johnson Image" class="img-fluid">
              <h3 class="name">Ben Johnson</h3>
              <p class="title">Musician</p>
              <p class="description">ZYX</p>
              <div class="social">
                <a href="">
                  <i class="fa fa-facebook-official"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="">
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="box text-center">
              <!-- Image -->
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqcwCHFqhqMqdmotU7mIXg9JxUDriNK_CzyMd4IUnu19vX99dK35RyG4IlRmA5ylit1Qw&usqp=CAU" alt="Emily C Image" class="img-fluid">
              <h3 class="name">Emily C</h3>
              <p class="title">Artist</p>
              <p class="description">XYZ</p>
              <div class="social">
                <a href="">
                  <i class="fa fa-facebook-official"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="">
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="box text-center">
              <!-- Image -->
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS69jJH3G0Mtt_kYLxQkUZJ2-WUgOd_PCU_O6Rji7Ql-y2IOW0fW1nxikAx9e7nsHB1Wq0&usqp=CAU" alt="Carl Kent Image" class="img-fluid">
              <h3 class="name">Carl Kent</h3>
              <p class="title">Stylist</p>
              <p class="description">ZYX</p>
              <div class="social">
                <a href="">
                  <i class="fa fa-facebook-official"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="">
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="highliht-phone">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="intro">
              <!-- Add your content for the highliht-phone section here -->
            </div>
          </div>

          <div class="col-md-4">
            <div class="d-none">
              <!-- Image -->
              <div class="screen">
                <!-- Add your content for the screen image here -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>

</html>
